html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div, p, h1, button {
  margin: 0;
  padding: 0;
}

/* Header */
.main-page header {
    height: 5em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 24px;
}

.main-page header button {
    display: inline;
    background-color: transparent;
    color: white;
    border-radius: 0px;
    outline: none;
    border: none;
}

.main-page header button:hover {
    background-color: rgba(0, 0, 0, 1);
}

.main-page header > span > button {
    float: left;
    font-size: 0.5em;
    height: 100%;
    padding: 1em 3.5em;
}

.main-page header .logo {
    margin: 1.5em 7.5%;
    font-size: 1em;
    float: left;
}

.main-page header .profile {
    padding-right: 5%;
    float: right;
    height: 100%;
}

.main-page header .profile button {
    float: right;
}


/* Main Page */

.main-page {
    font-family: sans-serif;
    display: block;
    background-image: url(assets/bg-image-1.jpg);
    background-size: cover;
    width: 100%;
    font-size: 35px;
}

.main-body {
    font-size: 55px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding: 5% 0px;
}

.main-body h1 {
    margin-top: 9%;
    font-size: 1em;
}

.main-body h2 {
    font-size: 0.5em;
    margin: 2.5% 0px;
}

.main-body button {
    width: 15%;
    font-size: 0.25em;
    padding: 1% 0px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: goldenrod;
}

.main-page .footer {
    text-align: center;
    margin-top: 20%;
}

.main-page .footer > p {
    font-size: 0.4em;
    color: white; 
}

/* Second Page */
.second-page{
    background-image: url("assets/bg\ image\ 2.jpg");
    background-size: cover;
    background-position: 0px -2px;
    width: 100%;
    padding: 10% 0px;
}

.text{
    padding-top: 230px;
    padding-left: 100px;
}
.text h3{
    color: white;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.text h1{
    color: white;
    font-size: 56px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.carousel {
    width:858px;
    height:477px;
    margin-left: 30%;
    margin-top: -80px;
  }

  /* Third Page */
.third-page {
    width: 100%;
    background-image: url(assets/Group.jpg);
    background-size: cover;
    background-position: 0px -100px;
    padding-top: 100px;
    padding-bottom: 22.5%;
}

.third-page .container {
    margin-top: 50px;
}

.third-page .content {
    margin-left: 50%;
    padding: 5% 0px;
    color: white;
}

.third-page .content {
    margin-left: 50%;
    padding: 5% 0px;
}

.third-page .col-1 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-basis: 10px;
}

.third-page h2 {
    color: goldenrod;
}

.forth-page {
    padding-top: 5%;
    width: 100%;
    background-image: url(assets/Group\ 2.jpg);
    background-size: cover;
    background-position: 0px -2px;
    font-size: 30px;
    padding-bottom: 25%;
}

.forth-page .content > p {
    font-size: 0.5em;
    float: right;
    display: inline;
    text-align: center;
    vertical-align: middle;
    margin-right: 45%;
    color:  white;
}

.forth-page .content > h1 {
    margin-left: 5%;
    font-size: 2em;
    color: white;
}

.forth-page .title {
    font-size: 1em;
    color: goldenrod;
}

.forth-page .container .description {
    font-size: 0.5em;
    color:  white;
}

.forth-page .container {
    margin-top: 5%;
    margin-left: 5%;
    display: inline-block;
    width: 45%;
}

.forth-page .col {
    border: 1px solid white;
    
}

.forth-page .col-1 {
    border: 1px solid white;
    width: 100%;
}

.fifth-page {
    width: 100%;
    background-image: url(assets/background-image-5.png);
    background-size: cover;
}

.fifth-page .content {
    padding-bottom: 10%;
}

.fifth-page .col {
    margin-top: 20%;
    font-size: 50px;
}

.fifth-page h1 {
    color: white;
    font-size: 1em;
}

.fifth-page p {
    color: white;
    font-size: 0.5em;
}

.fifth-page button {
    background-color: goldenrod;
    color: black;
    width: 30%;
    height: 10%;
}

.fifth-page .testimony {
    font-size: x-large;
    padding: 1em 1em;
    color: white;
    background-image: linear-gradient(to top left, rgb(30, 30, 30),rgb(20, 20, 20));
    border-radius: 5px;
    width: 80%;
    margin: 5% 0px;
}

.fifth-page .left {
    float: left;
}

.fifth-page .right {
    float: right;
}

.fifth-page .pictures {
    width: 10%;
    border-radius: 100%;
    float: left;
    margin-right: 2.5%;
}

.fifth-page .name {
    font-size: 1em;
    color: goldenrod;
    line-height: normal;
}

.fifth-page .profession {
    font-size: 0.75em;
    color: gray;
    line-height: 1px;
}

.fifth-page .twitter {
    float: right;
    display: inline;
}

.fifth-page .quote {
    font-size: 0.75em;
    margin-top: 7.5%;
    display: block;
}

.fifth-page .sent {
    font-size: 0.5em;
    margin-top: 2.5%;
    display: block;
}

.sixth-page {
    width: 100%;
    background-image: url(assets/background-image-6.png);
    background-size: cover;
    background-position: 0px -15px;
    color: white;
    word-wrap: break-word;
    padding-bottom: 10%;
}

.sixth-page h1 {
    font-size: 70px;
}

.col-6 > p {
    font-size: 24px;
}

.sixth-page .col img {
    border-radius: 100%;
    background-image: radial-gradient(circle, farthest-corner,black);
}

.sixth-page .col-6 {
    margin-top: 5%;
}

.sixth-page .form-control {
    width: 30%;
    margin-right: 5%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: goldenrod;
    line-height: 0px;
}

.sixth-page .email {
    margin-left: 4%;
    color: gray;
    line-height: 0px;
    margin-top: 10px;
}

.sixth-page .mb-3 span {
    width: 60%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
}

.sixth-page .mb-3 button {
    width: 200%;
    margin-left: 10%;
    height: 100%;
    background-color: goldenrod;
    color: black;
    font-size: larger;
}

footer {
    height: 200px;
    background-position: 0px 5%;
    margin-top: 0px -100px;
    background-image: url(assets/background-image-6.png);
}

footer hr {
    margin-top: 2.5%;
    color: white;
}

footer div {
    margin-left: 10%;
    width: 85%;
}

footer .menu {
    margin-left: 20%;
}

footer .menu  a {
    color: white;
    text-decoration: none;
    margin: 0px 2%;
}

footer .icon {
    color: white;
    width: 25px;
    height: 25px;
    margin: 0px 1.5%;
}

footer .additional-info {
    float: right;
}

footer .additional-info a {
    padding: 0px 5px;
    text-decoration: none;
    color: white;
}

footer .additional-info .inside {
    border: 1px solid white;
    border-style: none solid;
}

footer p {
    float: left;
}